footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    color: $base-white;
    background: $base-coffee;
    font-weight: 600;
    span {
        a {
            text-decoration: none;
            color: $base-white;
            transition: 0.3s color ease-out;
        }
        a:hover,
        a:focus {
            color: $base-orange;
        }
    }
}