$base-white: rgb(247,245,247);
$base-gray: rgb(234, 231, 225);
$base-black: rgb(30, 37, 40);
$base-brown: rgb(221, 214, 204);
$more-brown: rgb(223, 197, 171);
$base-coffee: rgb(205, 179, 152);
$base-orange: rgb(239, 135, 99);
$base-blue: rgb(113, 188, 214);
$dark-blue: rgb(28, 43, 108);




header {
    background-color: rgb(247, 245, 247);
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    nav {
        color: $base-coffee;
        .fa-chevron-circle-down {
            position: relative;
            font-size: 1.5rem;
            transition: 1s transform ease, 1.5s color ease;
            transform: scale(1);
            animation: fadeIn 5s ease-in;

        }
        display: flex;
        justify-content: space-between;
        position: relative;
        ul {
            position: absolute;
            opacity: 0;
            top: 40px;
            left: 1.2%;
            margin: 0;
            padding: 1%;
            border-left: 1px solid $more-brown;
            transition: .75s opacity .5s ease;
            li {
                list-style: none;
                padding: 5%;
                letter-spacing: 1px;
                font-weight: 600;
                perspective: 500;
                a {
                    text-decoration: none;
                    color: $base-coffee;
                    transition: 0.3s color ease-out;
                    
                }
                a:hover {
                    color: $base-blue;
                }
            }
        }
        .fa-moon {
            transform: rotate(-130deg);
            position: absolute;
            right: 0;
            font-size: 1.25rem;
            animation: fadeIn 5s ease-in;
            display: none;
        }
    }
}

