.heroImage {
    background: linear-gradient(to top, $base-brown 75%, $base-white 75%);
    height: 375px;
    .heroContainer {
        position: relative;
        bottom: 110px;
        width: 30%;
        margin: 0 auto;
        img {
            border: 1px solid $base-brown;
            max-width: 100%;
            border-radius: 50%;
        }
    }

}
