.landing {
 background: linear-gradient(to top, $base-coffee 50%, $base-white 50%);

 .landing-container {
        display: flex;
        padding: 4% 0;
    }
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 4rem;
            text-transform: uppercase;
            letter-spacing: -5px;
            font-weight: 800;
            width: 50%;
            text-align: start;
            position: relative;
            // bottom: 6%;
            top: 3.5%;
            line-height: 1;
            .headerWord1 {
                color: $base-coffee;
                position: relative;
                animation: slideUp 4s ease-in-out;
                z-index: 10;
            }
            .headerWord2 {
                color: $base-white;
                position: relative;
                left: 20%;
                animation: slideDown 4s ease-in-out;
                
            }
        }
        h3 {
            font-weight: 500;
            font-size: 1.5rem;
            position: relative;
            // right: 9%;
            left: 20%;
            top: 5%;
            // bottom: 8%;
            color: $base-white;
            animation: fadeIn 5s ease-in;
        }
        width: 50%;
    
    }
    .heroContainer {
        height: 375px;
        transform: scale(1.3);
        width: 30%;
        margin: 0 auto;
        // animation: grow 3s ease-in-out;
        img {
            border: 1px solid $base-brown;
            max-width: 100%;
            border-radius: 50%;
            // animation: spin 3s ease-in-out;
        }

        

    }
    // .miniBio {
    //     width: 30%;
    //     padding: 4% 3%;
    //     border-left: 1px solid black;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     letter-spacing: 1px;
    //     ul {
    //         margin: 5% 0 0 0;
    //         padding: 0;
    //         display: flex;
    //         li {
    //             list-style: none;
    //             padding-right: 5%;
    //         }
    //     }
    // }
}

@keyframes slideUp {
    0% {
        top: 80px;
    }

    100% {
        top: 0;
    }
}

@keyframes slideDown {
    0% {
        bottom: 80px;
        // opacity: 0;
        color: $base-white;
    }

    100% {
        bottom: 0px;
        // opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(30deg);

    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes grow {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.3);
    }
}