.tools {
    background-color: $base-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 3.5rem;
        font-weight: 700;
        letter-spacing: -5px;
        color: $base-blue;
        text-align: end;
        text-transform: uppercase;
        position: relative;
    }
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 100px;
            padding: 5%;
            color: $base-coffee;
            i {
                font-size: 3rem;
                transition: 0.3s color ease-out;
                // color: $base-blue
            }
            i:hover,
            i:focus {
                color: $base-blue;
            }
            i:hover + p,
            i:focus + p {
                color: $base-black;
            }
            p {
                font-size: 1rem;
                transition: 0.3s color ease-out;
                // color: $base-blue;
            }
        }
    }
}